body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor1--: #5889B1;
    --cor2--: #597286;
    --cor3--: #4999DB;
    --cor4--: #4C555C;
    --cor5--: #292E33;
    --cor6--: #202B33;
    --cor7--: #85c8ff;
    --cor8--: white;
    --cor9--: #eee;
}

.home{
    margin-left: -40px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    color: var(--cor6--);
}

.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--cor9--);
}


span {
    color: var(--cor7--);
}

.logo {
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0;
    color: var(--cor6--);
}

.nav-itens {
    list-style: none;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
}

li a {
    color: var(--cor6--);
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px 5px 10px;

}

li a:hover {
    transition: all .3s;
    border-bottom: .5px solid var(--cor6--);
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.062);
}

.link-login-li:hover{
    transition: all 0.3s;
    border-bottom: .5px solid var(--cor6--);
}

.btn .login-1 { 
    padding: 6px 0px;
    border: 0.3px solid black;
    background-color: var(--cor8--);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
}

.btn .cadastro {
    padding: 6px 0px;
    border: none;
    background-color: var(--cor6--);
    color: var(--cor6--);
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.link-login {
    color: var(--cor6--);
    text-decoration: none;
    padding: 8px 32px;
}

.link-login:hover{
    color: white;
}

.link-cadastro{
    color: var(--cor8--);
    text-decoration: none;
    padding: 6px 32px;
}

.link-cadastro:hover{
    color: var(--cor8--);
    background-color: var(--cor4--);
    border-radius: 5px;
    transition: all 0.3s;
}

.cadastro:hover,
.login-1:hover {
    transition: all .3s;
    background-color: var(--cor4--);
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    color: var(--cor6--);
}

/* */

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--cor8--);
    border: none;
    color: var(--cor4--);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    width: 14em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: var(--cor8--);
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--cor2--);
  }
  
  .search__input:focus + .search__button {
    background-color: var(--cor8--);
  }
  
  .search__button {
    border: none;
    background-color: var(--cor8--);
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

/* */

.slide1 {
    height: 80vh;
    background-color: var(--cor9--);
    
}

.slide2 {
    height: 40vh;
    background-color: var(--cor--);
}

.slide3 {
    height: 40vh;
    background-color: var(--cor3--);
}

.slide4 {
    height: 100vh;
    background-color: var(--cor8--);
}

footer {
    background-color: var(--cor6--);
    color: var(--cor8--);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    
}

footer li{
    margin: 10px 0;
    list-style: none;
}


.cadastro-li{
    display: none;
}

.login-li{
    display: none;
}

@media (max-width: 600px) {
    body{
        width: 100%;
    }

    .menu1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: var(--cor9--);
        position: relative;
    }

    .menu-toggle {
        display: block;
        position: relative;
        font-size: x-large;
        font-weight: 700;
        z-index: 500;
        margin: 0 auto;
    }

    .logo {
        font-size: x-large;
        font-weight: bold;
        margin: 0 auto;
    }

    .search {
        margin: 0 auto;
        flex-grow: 1; /* Para ocupar o espaço disponível */
        display: flex;
        justify-content: center;
    }

    .search__input {
        width: 16em;
    }

    .home{
        display: block;
        margin-left: 0px;
    }

    .links {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--cor9--);
        padding: 40px 0px 100% 0;
        justify-content: start;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .login-part1 {
        display: none;
    }

    .form {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .input {
        width: 100%;
        max-width: 100%;
        height: 6vh;
        min-height: 40px;
    }

    .form-btn {
        width: 100%;
        height: 6vh;
        min-height: 40px;
    }

    .links.active {
        display: block;
    }

    .nav-itens {
        margin-top: 20px;
        margin-left: -30px;
        list-style: none;
        text-align: start;
        display: flex;
        padding-right: 30px;
        flex-direction: column;
        gap: 10px;
        background-color: var(--cor9--);
    }

    .cadastro {
        display: none;
    }

    .login-1 {
        display: none;
    }

    .login-li {
        display: flex;
        padding: 8px 30px;
        border: none;
        background-color: var(--cor8--);
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
        transition: 1s;
        cursor: pointer;
        margin: 0 0px 0 3px;
    }

    .login-li a {
        color: var(--cor6--);
    }

    .cadastro-li {
        display: flex;
        padding: 8px 30px;
        border: none;
        background-color: var(--cor6--);
        border-radius: 5px;
        color: var(--cor8--);
        font-weight: 600;
        font-size: 15px;
        box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
        transition: 1s;
        cursor: pointer;
    }

    .cadastro-li a {
        color: var(--cor8--);
    }

    .link-cadastro-li:hover{
        border-bottom: .5px solid white;
    }

}